# Frontend
VITE_AWS_REGION=ap-southeast-2
VITE_COGNITO_USER_POOL_ID=ap-southeast-2_xxxxxxxxx
VITE_COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_API_BASE_URL=https://your-api-id.execute-api.ap-southeast-2.amazonaws.com

# AWS Lambda common
UPLOAD_BUCKET=fit5225-aussie-ecolens-uploads
GCP_SECRET_ID=gcp-firestore-service-account
GCP_BUCKET=fit5225-aussie-ecolens-processing
GCP_PROJECT_ID=your-gcp-project-id
PUBSUB_TOPIC=projects/your-gcp-project-id/topics/media-processing
CORS_ORIGIN=https://your-frontend-domain
AWS_REGION=ap-southeast-2

# GCP Cloud Run
GCS_BUCKET=fit5225-aussie-ecolens-processing
MODEL_PATH=/app/model.pt
LABELS_PATH=/app/labels.txt
CONFIDENCE_THRESHOLD=0.35
AWS_SNS_REGION=ap-southeast-2
AWS_NOTIFICATION_LAMBDA_URL=

